.inputOne {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color-background-900;
  margin-bottom: 8px;
  border-radius: 10px;
  border: 2px solid transparent; 
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 
}

.inputOne input {
  height: 56px;
  width: 100%;
  padding: 12px;
  color: $color-white;
  background: transparent;
  border: 0;

}

.inputOne input::placeholder {
  color: $color-gray-300;

}

.inputOne svg {
  margin-left: 16px;
  color: $color-gray-300;
}

