@import 'variables';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;


  }

  body{
    background-color: $color-background-800;
    color: $color-white;
  }

  a {
    text-decoration: none;
  }

  button, a {
    cursor: pointer;
    transition: filter 0.2s;
  }

  button:hover, a:hover {
    filter: brightness(0.9);
  }
